table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #fffbfb;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #ada8a8c0;
    font-weight: bold;
  }

  div {
    display: inline-block;
  }
