table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #fffbfb;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #ada8a8c0;
    font-weight: bold;
  }

  div {
    display: inline-block;
  }

  /* body {
    background: linear-gradient(rgb(33, 37, 41), rgba(255, 255, 255));
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
    font-family: sans-serif;
    color: #000;
    } */
